@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Div_FilterBox_CSS {
  background-color: #ffffff;
  box-shadow: 1px 5px 18px -2px rgba(91, 164, 164, 0.35);
  position: absolute;
  border-radius: 5px;
  width: 80%;
  height: 80px;
  top: 110px;
  left: 10%;
  z-index: 1;
  display: flex;
  overflow: overlay;
  animation: FadeIn 500ms;
  transition: 200ms;
}
.Div_Tag_CSS {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 80px;
  transition: 200ms;
}
.P_Tag_CSS {
  font-family: "Spartan", sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 900;
  padding-left: 10px;
  background-color: #eef6f6;
  color: #5ba4a4;
  border-radius: 5px;
  margin: 10px;
  transition: 200ms;
}
.I_Times_CSS{
    color: white;
    background-color: #5ba4a4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px;
    margin-left: 10px;
    transition: 200ms;
}
.I_Times_CSS:hover{
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}
.Div_RemoveTag_CSS {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  height: 80px;
}
.P_RemoveTag_CSS{
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  font-weight: 900;
  padding: 10px 15px;
  border-radius: 5px;
  color: #5ba4a4;
  background-color: #eef6f6 ;
}
.P_RemoveTag_CSS:hover{
  cursor: pointer;
  color: #eef6f6 ;
  background-color: #e84118;
}
.P_Nothing_CSS{
  display: none;
}